<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.primedice.account.mapper.UserAccountMapper" >
    <resultMap id="UserAccountEntityMap" type="com.primedice.common.entity.UserAccount" >
        <id column="user_id" property="userId" jdbcType="BIGINT" />
        <id column="deposit" property="deposit" jdbcType="BIGINT" />
        <id column="description" property="description" jdbcType="VARCHAR" />
        <result column="available" property="avaliable" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="UserAccount_Column" >
        user_id, deposit, description, available
    </sql>

    <insert id="createUserAccount" parameterType="com.primedice.common.entity.UserAccount">
        INSERT INTO
        sys_user_account
        <include refid="UserAccount_Column"/>
        VALUES
        (#{userId},#{deposit},#{description},#{available})
    </insert>

    <update id="updateUserAccount" parameterType="com.primedice.common.entity.UserAccount">
        UPDATE sys_user_account
        <set>
            <if test="deposit != null">deposit = #{deposit}</if>
            <if test="description != null">description = #{description}</if>
            <if test="available != null">available = #{available}</if>
        </set>
        WHERE
        user_id = #{user_id}
    </update>

    <delete id="deleteByUserId" parameterType="java.lang.Long" >
        DELETE from sys_user_account
        where user_id = #{id}
    </delete>

    <select id="findByUserId" parameterType="java.lang.Long" resultType="com.primedice.common.entity.UserAccount">
        SELECT
        <include refid="UserAccount_Column"/>
        from sys_user_account
        where user_id = #{id}
    </select>

    <select id="findByUserIdForUpdate" parameterType="java.lang.Long" resultType="com.primedice.common.entity.UserAccount">
        SELECT
        <include refid="UserAccount_Column"/>
        from sys_user_account
        where user_id = #{id}
        for update
    </select>
</mapper>